---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$fonts-directory: "../fonts";
@font-face {
  font-family: "ubuntu";
  src: url('#{$fonts-directory}/ubuntu/ubuntu-m-webfont.eot');
  src: url('#{$fonts-directory}/ubuntu/ubuntu-m-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$fonts-directory}/ubuntu/ubuntu-m-webfont.woff') format('woff'),
       url('#{$fonts-directory}/ubuntu/ubuntu-m-webfont.ttf') format('truetype'),
       url('#{$fonts-directory}/ubuntu/ubuntu-m-webfont.svg#ubuntumedium') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ubuntu";
  src: url('#{$fonts-directory}/ubuntu/ubuntu-r-webfont.eot');
  src: url('#{$fonts-directory}/ubuntu/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$fonts-directory}/ubuntu/ubuntu-r-webfont.woff') format('woff'),
       url('#{$fonts-directory}/ubuntu/ubuntu-r-webfont.ttf') format('truetype'),
       url('#{$fonts-directory}/ubuntu/ubuntu-r-webfont.svg#ubuntulight') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "ubuntu";
  src: url('#{$fonts-directory}/ubuntu/ubuntu-l-webfont.eot');
  src: url('#{$fonts-directory}/ubuntu/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$fonts-directory}/ubuntu/ubuntu-l-webfont.woff') format('woff'),
       url('#{$fonts-directory}/ubuntu/ubuntu-l-webfont.ttf') format('truetype'),
       url('#{$fonts-directory}/ubuntu/ubuntu-l-webfont.svg#ubuntulight') format('svg');
  font-weight: 300;
  font-style: normal;
}


// Our variables
$base-font-family: "ubuntu", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     24px;

$text-color:       #333;
$background-color: #fff;
$brand-color:      #F15B24;

$grey-color:       #75859E;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    960px;

$on-palm:          600px;
$on-laptop:        800px;

$base-radius: 3px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
.site-footer {
  background: #fafafa;
}
.post {
  width: 80%;
  margin: 0 auto;
  @include media-query($on-palm) {
    width: 100%;
  }
}
.post-content img {
  display: block;
  margin: ($spacing-unit / 2) auto;
}
.footer-heading {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: $spacing-unit / 3;
}
.post-title {
  margin-top: $spacing-unit / 3;
}
.post-list h2 {
  margin-bottom: $spacing-unit / 3;
}
.post-link p {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;

}
.post-img {
  display: block;
  width: auto;
  text-align: center;
  vertical-align: top;
}
.media-container {
  @extend %clearfix;
  display: block;
  border-bottom: 0;
  overflow: visible;
  &:hover { border-bottom: 0;}
}
.media-content,
.media-img {
  display: inline-block;
}
.media-img {
  width: 120px;
  height: 120px;
  vertical-align: middle;
  border-radius: 100%;
  opacity: .8;
  @include media-query($on-palm) {
    width: 82px;
    height: 82px;
  }
}
.media-content {
  width: 70%;
  margin-left: -$spacing-unit;
  vertical-align: top;
  position: relative;
  z-index: 5;
}
.media-content h3 {
  margin-bottom: $spacing-unit / 4;
}
.media-content span,
.media-content h3,
.media-content p {
  background: white;
  padding: $spacing-unit / 3;
  border-left: 2px solid white;
}
.media-content span { padding-top: $spacing-unit / 4; }
@media only screen and (min-width: $on-laptop) {
  .post-link:hover .media-img { opacity: 1; }
  .post-link:hover {
    .media-content span,
    .media-content h3,
    .media-content p {
      border-left-color: $brand-color;
    }
  }
  .post-list li {
    display: inline-block;
    width: 49%;
  }
}
.lead {
  margin-bottom: $spacing-unit;
}
.header-segment {
  font-size: 80%;
  opacity: .9;
  margin-left: $spacing-unit / 3;
  line-height: 56px;
  @include media-query($on-palm) {
    display: block;
    margin-left: 0;
    line-height: 56px;
    margin-top: -24px;
  }
}
.static-page img {
  border-radius: 50%;
  max-width: 120px;
}
.post-meta.post-tags,
.post-meta.post-tags:hover { border: 0; }

.download-panel {
  border: 1px solid #ddd;
  padding: $spacing-unit;
  background: #f7f7f7;
  border-radius: $base-radius;
  margin-bottom: $spacing-unit;
}
.download-panel h3 {
  margin-bottom: $spacing-unit / 4;
}
.button,
.button:visited {
  background: $brand-color;
  border-radius: $base-radius;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  padding: ($spacing-unit / 2) $spacing-unit;
  border: 0;
  color: #fff;
  transition: background-color 300ms;
  display: inline-block;
  &:hover {
    border: 0;
    background: darken($brand-color, 10%);
  }
}
.post-content h5 {
  margin-bottom: $spacing-unit / 4;
}
.post-content .highlight,
.post-content p {
  margin-bottom: $spacing-unit;
}
.post-content p {
  line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  color: $grey-color;
}
.flex-video {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: $spacing-unit;
  overflow: hidden;
}
.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
